*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.black-level{width:100%;}

.mg{margin-right:20px;}

.wd{width:100%;}





	width:90%;
	height:100%;
	margin:20px auto 10px;
    border:2px solid red;
	justify-content:space-evenly;
	display:flex;
	